/* You can add global styles to this file, and also import other style files */
* {
	font-family: 'Muli', sans-serif;
}


html {
  position: relative;
  min-height: 100%;
}
body {
margin-bottom: 60px;
  padding-top: 40px;
}
@media (max-width: 766px) {
  body {
    padding-top: 160px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  margin-left: -15px;
  background-color: #212121;
}