/* You can add global styles to this file, and also import other style files */
* {
	font-family: 'Muli', sans-serif;
}


html {
  position: relative;
  min-height: 100%;
}
body {
margin-bottom: 60px;
  padding-top: 40px;
}
@media (max-width: 766px) {
  body {
    padding-top: 130px;
  }
}

footer {
  position: absolute;
  margin-top: 30px;
  padding-top: 30px;
  bottom: 0;
  width: 100%;
  margin-left: -15px;
  height: 80px;
  background-color: #212121;
  	text-align: center;
    float: none;
    top: auto;
    right:auto;
    width: 100%;
    line-height: auto;
}
@media (max-height: 700px) {
	.form-style-6 {
		position: absolute;

	}
}

.footer-link {
	padding-left: 10px;
	padding-right: 10px;
    display: inline-block;
    float:none;
    top: 50%;
	transform: translateY(-50%);
}